@model IEnumerable<Trails4Health.Models.FotosTrilho>

@{
    ViewData["Title"] = "Index";
}

<h2>Fotos dos Trilhos</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                Trilho
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    if (item.Foto.Imagem != null)
                    {
                        var base64 = Convert.ToBase64String(item.Foto.Imagem);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img style="width:15em; height:5em;" display: block;" src="@imgSrc" alt="Card image">

                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trilho.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
