@model Trails4Health.Models.Foto

@{
    ViewBag.Title = "Admin: Edit " + @Model.FotoId;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Edit @Model.FotoId</h3>
    </div>

    <div class="panel-body" style="margin:0 15%">
        @using (Html.BeginForm("Edit", "Admin",
                 FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row" style="width:50%;float:left">
                @Html.HiddenFor(m => m.FotoId)
                @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    switch (property.PropertyName)
                    {
                        case "FotoId":
                        case "Imagem":
                        case "ImageMimeType":
                        case "LocalizacaoId":
                        case "EstacaoAnoId":
                        case "TipoFotoId":
                        case "FotosTrilhos":
                            // do nothing
                            break;
                        default:
                            <div class="form-group">
                                <label>@(property.DisplayName ?? property.PropertyName)</label>
                                @if (property.PropertyName == "Description")
                            {
                                    @Html.TextArea(property.PropertyName, null,
 new { @class = "form-control", rows = 5 })
                                }
                                else
                                {
                                    @Html.TextBox(property.PropertyName, null,
 new { @class = "form-control" })
                                }
                                @Html.ValidationMessage(property.PropertyName)
                            </div>
                            break;
                    }
                }
            </div>
            <div class="row" style="width:50%;float:right">
                @{
                    if (Model.Imagem != null)
                    {
                        var base64 = Convert.ToBase64String(Model.Imagem);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img style="width:25em; height:15em;" display: block;" src="@imgSrc" alt="Card image">

                    }
                }

            </div>
            <div class="clearfix"></div>
            <div class="modal-footer" >
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel and return to List", "Index", null, new
           {
               @class = "btn btn-default"
           })
            </div>
                    }
    </div>
</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

