@model IEnumerable<Trails4Health.Models.Foto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("FileUpload", "Foto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Visivel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagem)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.EstacaoAno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoFoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Visivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstacaoAno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoFoto.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FotoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FotoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FotoId">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
