@model CompararTrilhoViewModels
@{
    ViewData["Title"] = "CompararTrilho";
}

<h2>Comparar Trilho</h2>

@*



    @{
        Trilho trilho = Model.Trilhos.Where(x => x.TrilhoId = id);}
        <form >
            <fieldset>
                <legend>@Html.DisplayFor(modelItem => item.Nome)</legend>
                <div class="form-group row">
                    <label for="inicio" class="col-sm-2 col-form-label">Inicio</label>
                    <div class="col-sm-10">
                        <input type="text" readonly="" class="form-control-plaintext" id="inicio" value="@Html.DisplayFor(modelItem => item.Inicio)">
                    </div>
                </div>

            </fieldset>
        </form>
*@

    
<div style="width:50%; float:right">
    <div>
        <h4>Trilho</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.Inicio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.Inicio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.Fim)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.Fim)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.AltitudeMax)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.AltitudeMax)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.AltitudeMin)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.AltitudeMin)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.InteresseHistorico)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.InteresseHistorico)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.BelezaPai)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.BelezaPai)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.GrauDificuldade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.GrauDificuldade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.DuracaoMedia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.DuracaoMedia)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho1.Visivel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho1.Visivel)
            </dd>
        </dl>
    </div>
</div>

<div style="width:50%; float:left">
    <div>
        <h4>Trilho</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.Inicio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.Inicio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.Fim)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.Fim)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.AltitudeMax)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.AltitudeMax)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.AltitudeMin)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.AltitudeMin)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.InteresseHistorico)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.InteresseHistorico)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.BelezaPai)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.BelezaPai)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.GrauDificuldade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.GrauDificuldade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.DuracaoMedia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.DuracaoMedia)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Trilho2.Visivel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Trilho2.Visivel)
            </dd>
        </dl>
    </div>
</div>









