@model Trails4Health.Models.Trilho

@{
    ViewData["Title"] = "Create";
}

<meta charset="ISO-8859-1">
<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Trilho</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Inicio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fim" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fim" class="form-control" />
                <span asp-validation-for="Fim" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AltitudeMax" class="col-md-2 control-label">Altitude Máxima</label>
            <div class="col-md-10">
                <input asp-for="AltitudeMax" class="form-control" />
                <span asp-validation-for="AltitudeMax" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AltitudeMin" class="col-md-2 control-label">Altitude Mínima</label>
            <div class="col-md-10">
                <input asp-for="AltitudeMin" class="form-control" />
                <span asp-validation-for="AltitudeMin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="col-md-2 control-label">Descrição</label>
            <div class="col-md-10">
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InteresseHistorico" class="col-md-2 control-label">Interesse Histórico</label>
            <div class="col-md-10">
                <input asp-for="InteresseHistorico" class="form-control" />
                <span asp-validation-for="InteresseHistorico" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BelezaPai" class="col-md-2 control-label"> Beleza Paisagística</label>
            <div class="col-md-10">
                <input asp-for="BelezaPai" class="form-control" />
                <span asp-validation-for="BelezaPai" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GrauDificuldade" class="col-md-2 control-label">Grau de Dificuldade</label>
            <div class="col-md-10">
                <input asp-for="GrauDificuldade" class="form-control" />
                <span asp-validation-for="GrauDificuldade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DuracaoMedia" class="col-md-2 control-label">Duração Média</label>
            <div class="col-md-10">
                <input asp-for="DuracaoMedia" class="form-control" />
                <span asp-validation-for="DuracaoMedia" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Visivel" />
                    <label asp-for="Visivel"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*<form asp-action="" method="post" enctype="multipart/form-data" asp-controller="Home">
    <div class="panel panel-primary" style="margin-top:2ex;">
        <div class="panel-heading">
            <h3 class="panel-title">Criar Trilho</h3>
        </div>


        <div class="panel-body">
            <div class="form-group">
                <label asp-for="@Model.Nome">Nome:</label>
                <input asp-for="@Model.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Inicio">Local de Inicio:</label>
                <input asp-for="@Model.Inicio" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Fim">Local de Fim:</label>
                <input asp-for="@Model.Fim" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.AltitudeMax">Altitude Maxima:</label>
                <input asp-for="@Model.AltitudeMax" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.AltitudeMin">Altitude Minima:</label>
                <input asp-for="@Model.AltitudeMax" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Descricao">Descricao:</label>
                <input asp-for="@Model.Descricao" class="form-control" /> 
            </div>

            <div class="form-group">
                <label asp-for="@Model.GrauDificuldade">Dificuldade:</label>
                <select asp-for="@Model.GrauDificuldade" class="form-control">
                    <option value="">Escolha uma opção</option>
                    <option value="1">Muito Facil</option>
                    <option value="2">Facil</option>
                    <option value="3">Medio</option>
                    <option value="4">Dificil</option>
                    <option value="5">MuitoDificil</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.InteresseHistorico">Interesse Historico:</label>
                <select asp-for="@Model.InteresseHistorico" class="form-control">
                    <option value="">Classifique quanto ao Interesse Historico</option>
                    <option value="1">Muito Pouco Interessante</option>
                    <option value="2">Pouco Interessante</option>
                    <option value="3">Razoavelmente Interessante</option>
                    <option value="4">Interessante</option>
                    <option value="5">Muito Interessante</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BelezaPai">Beleza Paisagistica:</label>
                <select asp-for="@Model.BelezaPai" class="form-control">
                    <option value="">Classifique quanto a Beleza Paisagistica</option>
                    <option value="1">Muito Pouco Interessante</option>
                    <option value="2">Pouco Interessante</option>
                    <option value="3">Razoavelmente Interessante</option>
                    <option value="4">Interessante</option>
                    <option value="5">Muito Interessante</option>
                </select>
            </div>




            <div asp-validation-summary="All"></div>
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Criar Trilho" class="btn btn-default" />
                </div>
            </div>

        </div>
    </div>
</form>*@