@model IEnumerable<Trails4Health.Models.Trilho>

@{
    ViewData["Title"] = "Index";
}

<h2>Trilhos</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AltitudeMax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AltitudeMin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InteresseHistorico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BelezaPai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visivel)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltitudeMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltitudeMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InteresseHistorico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BelezaPai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visivel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrihoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrihoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrihoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="row what">
    <div class="col-md-3 col-sm-4 webdesign" style="visibility: visible; ">
        <div class="icons">
            <img src="~/images/icon1.png" alt="ASP.NET" class="img-responsive" />
        </div>
        <h2><a asp-action="Create">Create New Trail</a></h2>
    </div>
    @*<div class="col-md-3 col-sm-4 copywriting" style="visibility: visible; ">
        <div class="icons">
            <img src="~/images/icon2.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <h2><a asp-action="Edit">Edit Trail</a></h2>

    </div>
    <div class="col-md-3 col-sm-4 coding" style="visibility: visible; ">
        <div class="icons">
            <img src="~/images/icon3.png" alt="ASP.NET" class="img-responsive" />
        </div>
        <h2><a asp-action="Delete">Delete Trail</a></h2>

    </div>
    <div class="col-md-3 col-sm-4 coding" style="visibility: visible; ">
        <div class="icons">
            <img src="~/images/icon4.png" alt="ASP.NET" class="img-responsive" />
        </div>
        <h2><a asp-action="Details">View Trails</a></h2>
    </div>*@
    <div class="col-md-3 col-sm-4 coding" style="visibility: visible; ">
        <div class="icons">
            <img src="~/images/icon4.png" alt="ASP.NET" class="img-responsive" />
        </div>
        <h2><a asp-controller="Home" asp-action="CompararTrilho">Compare Trails</a></h2>
    </div>

    

</div>